@import '../../app/Global/colors.css';

.Container{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__overlay{
        margin: 0;
        padding: 0;
        position: absolute;
        top: -50%;
        left: -50%;
        height: 200vh;
        width: 200vw;
        z-index: 100;
        background-color: #00000050;
        overflow: clip;
    }

    &__body{
        position: absolute;
        top: 0;
        padding: 3%;
        height: 90%;
        width: 60%;
        background-color: var(--light-gray);
        z-index: 101;
        border-radius: 15px;

        &__titleContainer{
            display: flex;
            justify-content: center;
            text-align: center;
            height: 30%;
        }

        &__bodyContainer{
            display: flex;
            justify-content: space-evenly;
            height: 45%;

            &__leftContainer__methodContainer, &__rightContainer__methodContainer{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 70%;
                width: 7em;
                padding: 10% 0;
                border: 1px solid var(--light-gray);
                border-radius: 10px;



                & img{
                    width: 70px;
                    padding: 10% 0;
                }
            }
            
            &__leftContainer__radioContainer, &__rightContainer__radioContainer{
                display: flex;
                justify-content: center;
                margin-top: 5%;
            }
        }

        &__bottomContainer{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 25%;

            &__backButtonContainer__backButton{
                background-color: var(--red);
                border-radius: 5px;
                border: 0px;
                padding: 10px 30px;
                color: var(--white);
                font-weight: bold;
                cursor: pointer;
            }

            &__backButtonContainer__backButton:hover{
                background-color: var(--hover-red);
                transition: .3s;
            }

            &__proceedButtonContainer__proceedButton{
                background-color: var(--green);
                border-radius: 5px;
                border: 0px;
                padding: 10px 30px;
                color: var(--white);
                font-weight: bold;
                cursor: pointer;
            }

            &__proceedButtonContainer__proceedButton:hover{
                background-color: var(--hover-green);
                transition: .3s;
            }
        }
    }

    @media screen and (max-width:680px) {
        &__body{
            height: 60%;
            width: 90%;
        }
    }
}

#paymentCard:checked ~ .Container__body__bodyContainer__rightContainer__methodContainer__method{
    background-color: var(--green);
}

#paymentPayPal:checked ~ .Container__body__bodyContainer__leftContainer__methodContainer__method{
    background-color: var(--green);
}

.Container__body__bodyContainer__rightContainer__methodContainer:active{
    border: 1px solid var(--gray);
}

.Container__body__bodyContainer__leftContainer__methodContainer:active{
    border: 1px solid var(--gray);
}