.Filters{

    &__container{
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10%;


        &__filter__button{
            width:110px;
            background-color: #ffebc1;
            border: 3px solid #ff9346;
            border-radius: 15px;
            margin: 3px 5px;
            padding: 3px;
            cursor: pointer;
        }
    }

    @media screen and (max-width: 680px) {
        &__container{
            flex-wrap: wrap;
        }
    }
}