@import '../../app/Global/colors.css';

.Product {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    &__toolbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 5vh;
        margin: 6% 0 0 0;
        
        &__titleContainer{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 50%;
            margin: 3% 0;
            font-size: 150%;
            color: var(--dark);
            z-index: 10;
        }

        &__categoriesContainer{
            display: flex;
            width: 25%;
            color: var(--white);
            z-index: 10;

            &__categories{
                list-style-type: none;
                padding: 0;
                margin: 0;
                font-weight: bold;
            }
        }

        &__brandContainer{
            display: flex;
            justify-content: flex-end;
            width: 25%;
            color: var(--white);
            z-index: 10;

            &__brand{
                margin: 0;
            }
        }
    }

    @media screen and (max-width:680px) {
        &__toolbar{
            flex-wrap: wrap;
            height: 7%;

            &__titleContainer{
                width: 100%;
                height: 20px;
                font-size: 90%;
            }

            &__brandContainer, &__categoriesContainer{
                width: 50%;
                order: 2;
            }
        }
    }
    
    &__imgContainer{
        max-height: 50vh;
        min-width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5% 0;
        transition: .3s;

        &__img{
            border-radius: 20px;
            max-height: 100%;
            max-width: 100%;
            -webkit-box-shadow: 0px 5px 15px 5px #ff934680; 
            box-shadow: 0px 5px 15px 5px #ff934680;
        }
    }

    &__imgContainer:hover{
        transform: scale(1.1);
    }

    @media screen and (max-width: 500px) {
        &__imgContainer{
            margin-top: 20%;

            &__img{
                max-height: 100%;
                max-width: 100%;
            }
        }
    }

    &__descriptionContainer{
        width: 90%;
        box-sizing: border-box;
        background-color: var(--cream);
        padding: 3%;
        border: 3px solid var(--white);
        border-radius: 20px;

        &__description{
            text-align: justify;
            font-weight: 600;
            color: var(--dark);
        }
    }

    &__priceContainer{
        width: 100%;
        margin: 5%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;

        &__discountContainer{
            text-align: center;
            margin: 0 30px;
            
            &__discountedPrice{
                text-decoration: line-through;
                font-weight: 600;
                margin: 0;
            }

            &__discount{
                color: red;
                margin: 0;
            }

            &__price{
                color: green;
                margin: 0;
            }
        }

        &__fullPrice{
            color: green;
            margin: 0;
        }

        &__button{
            background-color: #ffdd00;
            padding: 2%;
            border: 3px solid var(--white);
            border-radius: 10px;
            font-size: 100%;
            font-weight: bolder;
            color: var(--main-bg);
            margin-left: 3%;
        }

        &__button:hover{
            background-color: #ffcc00;
        }
        
        &__button:active{
            background-color: #ffcc00;
            -webkit-box-shadow: inset 0px 5px 30px 15px #ffaa00; 
            box-shadow: inset 0px 5px 30px 15px #ffaa00;
        }
    }

    @media screen and (max-width: 500px) {
        &__priceContainer{
            justify-content: center;
            width: 50%;
            margin: 2%;

            &__button{
                margin: 3% 0;
                padding: 5%;
            }
        }
    }

    &__notFoundContainer{
        height: 45vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        
        &__unavaliable{
            width: 80%;
            background-color: #ffba89;
            padding: 3%;
            border: 3px solid var(--white);
            border-radius: 20px;
        }
    }

    @media screen and (max-width: 680px) {
        &__notFoundContainer{
            height: 80vh;
        }
    }
}