@import '../../app/Global/colors.css';

.Navbar{
    // position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
    height: 5%;
    padding: 0 2%;
    border-radius: 30px;
    background-color: var(--cream);
    z-index: 10;
    flex-wrap: wrap;

    &__logo{
        font-size: 1.1em;

        &__link{
            text-decoration: none;
            color: var(--dark);

            &__pageName{
                margin: 0;
            }
        }
    }

    &__tab{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 15%;

        &__userTab{

            &__loginButton{
                background-color: var(--cream);
                padding: 5px 30px;
                border: 3px solid var(--white);
                border-radius: 10px;
                color: var(--main-bg);
                font-size: large;
                font-weight: bold;
                cursor: pointer;
                transition: .3s;
            }

            &__loginButton:hover{
                filter: saturate(150%);
            }

            &__logoutContainer{
                position: absolute;
                z-index: 20;
                margin-top: 10px;
                padding: 5px 30px;
                background-color: var(--cream);
                padding: 5px 30px;
                border: 3px solid var(--white);
                border-radius: 10px;
                color: var(--main-bg);
                font-size: large;
                font-weight: bold;
                cursor: pointer;
            }

            &__logoutContainer::after{
                position: absolute;
                top: 0;
                height: 5px;
                width: 5px;
                background-color: var(--cream);
                border: 3px solid var(--white);
                z-index: 21;
            }
        }

        &__cart {
            width: 30px;
            position: relative;
            transition: .2s;
    
            & svg{
                transform: rotateY(180deg);
            }
    
            &__cartFullness{
                height: 15px;
                min-width: 15px;
                background-color: var(--main-bg);
                border: 1px solid var(--white);
                position: absolute;
                top: -7px;
                left: -5px;
                border-radius: 10px;
                font-size: medium;
                
                &__number{
                    margin: 0;
                    font-size: 11px;
                    text-align: center;
                    color: var(--white);
                }
            }
        }

        &__cart:hover{
            width: 32px;
        }
    }
}

.dnone{
    display: none;
}

@media screen and (max-width: 1200px) {
    .Navbar__tab{
        width: 20%;
    }
}

@media screen and (max-width: 680px){
    .Navbar{
        justify-content: center;

        &__logo__link__pageName{
            text-align: center;
        }

        &__tab{
            width: 100%;
            justify-content: space-evenly;
            align-items: flex-end;
        }
    }
}

@media screen and (max-width: 380px) {
    .Navbar{
        padding: 0 5%;
    }
}
