.searchForm{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__module{
        width: 80%;
        background-color: #ffebc1;
        border: 0;
        border-radius: 10px;
        padding: 5px 10px;
        font-size: medium;
    }

    &__module:active, &__module:focus {
        outline: none;
    }

    &__buttonContainer{
        position: relative;

        &__button{
            position: absolute;
            top: -12px;
            left: -35px;
            background-color: #ff9346;
            padding: 3px 5px;
            border-radius: 10px;
            border: 0;
            margin-right: 2px;
            font-size: large;
            color: #eee;
            font-size: medium;
            font-weight: bold;
            cursor: pointer;
        }
    }

    &__nullButton{
        background-color: #ff9346;
        border: 3px solid white;
        border-radius: 20px;
        text-align: center;
        margin-left: 3px;
        padding: 3px 9px;
        color: #eee;
        font-size: large;
        font-weight: bold;
        cursor: pointer;
    }
}

@media screen and (max-width:680px) {
    .searchForm{
        justify-content: center;

        &__button{
            left: 50px;
        }
    }
}