.Home{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__toolbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 5vh;
        margin-top: 6%;
        
        &__titleContainer{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 20%;
            margin: 3% 0;
            font-size: xx-large;
            color: #222;
            z-index: 10;
        }

        &__tagsContainer{
            display: flex;
            width: 40%;
            color: white;
            z-index: 10;
            overflow: scroll;
        }

        &__searchContainer{
            display: flex;
            justify-content: flex-end;
            width: 40%;
            color: white;
            z-index: 10;
        }
    }

    &__cardsContainer{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    @media screen and (max-width: 680px) {
        &__toolbar{
            flex-wrap: wrap;
            justify-content: center;
            margin: 0;
            height: 100%;

            &__titleContainer{
                order: 1;
                width: 100%;
                justify-content: center;
                
                &__title{
                    margin: 0;
                }
            }

            &__searchContainer{
                order: 2;
                width: 100%;
                justify-content: center;
            }
    
            &__tagsContainer{
                order: 3;
                width: 100%;
                justify-content: center;
            }
        }
    }
}