.Home{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__toolbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 5vh;
        margin-top: 6%;
        
        &__titleContainer{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 40%;
            margin: 3% 0;
            font-size: xx-large;
            color: #222;
            z-index: 10;
        }

        &__tagsContainer{
            display: flex;
            width: 30%;
            z-index: 10;
            overflow-x: scroll;
        }

        @media screen and (min-width:680px) {
            &__tagsContainer::-webkit-scrollbar {
                width: 5px;
                height: 5px;
            }
            
            &__tagsContainer::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px #0000004d; 
                box-shadow: inset 0 0 6px #0000004d; 
                border-radius: 10px;
                cursor: pointer;
            }
            
            &__tagsContainer::-webkit-scrollbar-thumb {
                border-radius: 10px;
                -webkit-box-shadow: inset 0 0 6px #00000080; 
                box-shadow: inset 0 0 6px #00000080;
                cursor: pointer;
            }

            &__tagsContainer:hover::-webkit-scrollbar {
                width: 10px;
                height: 10px;
                transition: 2s;
            }
        }

        @media screen and (max-width:680px) {
            &__tagsContainer{
                height: 70px;
                overflow-y: scroll;
            }
        }

        &__searchContainer{
            display: flex;
            justify-content: center;
            width: 30%;
            color: white;
            z-index: 10;
        }
    }

    &__cardsContainer{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    @media screen and (max-width: 680px) {
        &__toolbar{
            flex-wrap: wrap;
            justify-content: center;
            margin: 0;
            margin-top: 3%;
            height: 100%;

            &__titleContainer{
                order: 1;
                width: 100%;
                justify-content: center;
                
                &__title{
                    margin: 0;
                }
            }

            &__searchContainer{
                order: 2;
                width: 100%;
            }
    
            &__tagsContainer{
                order: 3;
                width: 100%;
                justify-content: center;
            }
        }
    }
}